<app-header></app-header>

<br>
<div class="fluid-container">

   
    <div class="row">
      <div class="col-md-6 col-xs-12 col-lg-6 offset-3 card">
        <br>
        <div class="row">
          <div class="col-md-5 col-xs-12 col-lg-5">
            <label class="custom-file">
              <input type="file" id="file" class="custom-file-input">
              
              <span class="custom-file-control"></span>
              </label>
              
          </div>
          <div class="col-md-3">
            <button  id="btn"  (click) ="uploadImage()" class="btn btn-primary">cargar archivo
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
            </button>
          </div>          
        </div>
        <br>
        <div class="row">
            <div class="progress col-md-12">
              <div class="progress-bar" role="progressbar" [style.width]="progres.Progres + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progres.Progres}}</div>
            </div>            
        </div>        
      </div>
    </div> 
    <br>
    <div class="row">
      <div class="col-md-6 col-xs-12 offset-3">
        <div *ngFor="let picture of listPictures | async reverse"  class="search-results">
          <app-emotion-picture [emoPicture]="picture"></app-emotion-picture>
        </div>
      </div>
    </div>




</div>