#card-picture{

    box-shadow: 0px 2px 3px 0px rgba(208, 206, 206, 0.75);
    margin-bottom: 20px;
}
.header-card{
   margin-bottom:  20px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.28);
   padding-bottom: 10px;
}


.emo-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
   /* margin-bottom: 20px;*/
}

.secction-comments{
    margin-bottom: 20px;
}

.btn-opciones{
    border: opx !important;

} 

.time{
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);;
}

.progress{
    padding:0px !important;
}

.img-public{
    width: 100%;
    height: 500px;
    
}

.user-avatar,.user-name-title{
    padding: 0px !important
}

.add-Coment,.comments{
    background-color: #f6f7f9;
}

.card-title{
    color: #365899;
    font-size: 13px;
}

.add-coment-title{
    color: #365899;
}

.title-score{
    color: #9094b4;
}
.options-menu{
    border: 0px !important;
}


